:root{
    
    --blueColor : rgba(17, 20, 57, 1);
  
    --offwhiteColor : rgba(248, 248, 249, 1);
  
    --beigeColor : rgba(193, 180, 174, 1);
  
    --whiteColor : rgba(255, 252, 252, 1);
  
    --orangeColor : rgba(190, 90, 56, 1)
  }